.lightbox {
	display: flex;
	margin: auto;
	position: relative;
	
	& button {
		background: transparent;
		border: none;
		appearance: none;
		position: absolute;
		
		& .dashicons {
			color: var(--wp--preset--color--light-primary);
			opacity: 0.6;
			height: 3rem;
			width: 3rem;
			font-size: 3rem;
			transition: 0.1s ease-in-out;
		}
		
		&:hover,
		&:focus {
			cursor: pointer;
			.dashicons {
				opacity: 1;
			}
		}
		
		&.next {
			position: absolute;
			right: -4rem;
		}
		
		&.previous {
			position: absolute;
			left: -4rem;
		}
		
		&.close {
			position: absolute;
			top: -4rem;
			right: -4rem;
		}
	}
	
	& figure {
		margin: 0;
	}
	
	& img {
		display: block;
		max-height: 70vh;
		max-width: 80vw;
		height: auto;
		width: auto;
		object-fit: contain;
	}
	
	& .image-count {
		color: var(--wp--preset--color--light-primary);
		position: absolute;
		margin: auto;
		justify-content: center;
		bottom: -3rem;
	}
}
