.modal-container {
	z-index: 1000;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	padding: var(--wp--style--block-gap);
	display: flex;
	
	& > * {
		justify-content: center;
		align-items: center;
	}
}
