.wp-block-post-comments .comment-author,
.wp-block-post-comments .comment-meta {
    margin-left: 0 !important;
}

.wp-block-post-comments .comment-author .avatar {
    height: 100px !important;
    width: 100px !important;
}

.wp-block-post-comments p {
    width: 100%;
}
