.wp-block-code.hljs {
	border: none;
	padding: 0;
	height: auto;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	margin: var(--wp--style--block-gap) auto;
	
	& code {
		height: 100%;
		width: 100%;
		padding: var(--wp--style--block-gap);
		
		&:before {
			content: attr(rel);
			margin-top: -1px;
			font-family: var(--wp--preset--font-family--code);
			color: #666666;
			text-align: center;
			background-color: var(--wp--preset--color--eggshell);
			width: 100%;
			display: block;
			padding: 5px 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background-size: 50px;
			background-position: 10px center;
			background-repeat: no-repeat;
			background-image: url("/assets/mac-window-icons.png");
		}
		
		&.hljs {
			background-color: #373a3b;
			padding-top: calc(var(--wp--style--block-gap) * 2);
		}
	}
}
