a {
	text-decoration: none;
	color: scale-color($primary-color, $lightness: -30%);
	&:hover {
		color: $primary-color;
	}
	@media (prefers-color-scheme: "dark") {
		color: scale-color($primary-color, $lightness: +30%);
		&:hover {
			color: $primary-color;
		}
	}
}

.site-content {
	a {
		text-decoration: underline;
		text-underline-offset: 2px;
		text-decoration-skip: auto;
	}
}
