.post-date {
	font-style: italic;
	color: scale-color($light-primary-color, $lightness: -40%);
	@media (prefers-color-scheme: "dark") {
		color: scale-color($dark-primary-color, $lightness: +40%);
	}
}
