.site-content .read-more {
	&::after {
		content: "\f344";
		opacity: 0;
		display: inline-block;
		font-family: "dashicons";
		transform: translateY(10%) translateX(-1em);
		transition: transform 0.2s ease-in-out, opacity 0.1s 0.1s ease-in-out,
			width 0.2s ease-in-out;
	}
	&:hover,
	&:focus {
		&::after {
			opacity: 1;
			width: 1em;
			transform: translateY(10%) translateX(0.25em);
		}
	}
}
