h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-sans);
	hyphens: auto;
}
.site-content {
	& *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h1,
	& *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h2,
	& *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h3,
	& *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h4,
	& *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h5,
	& *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h6 {
		margin-top: var(--large-spacing);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	&.linkable {
		position: relative;
		&::before {
			transition: transform 0.2s ease-in-out, opacity 0.1s ease-in;
			font-family: "dashicons";
			opacity: 0;
			position: absolute;
			transform: translateX(-10px);
			content: "\f103";
		}
		@media (hover: none) and (pointer: coarse) {
			content: none;
		}
		&:hover,
		&:focus {
			cursor: pointer;
			&::before {
				opacity: 0.2;
				transform: translateX(-1.5em);
			}
		}
	}
}
