a {
	text-decoration: none;
	color: var(--link-color);
	&:hover {
		color: var(--primary-color);
	}
}

.site-content,
.editor-styles-wrapper {
	& a {
		text-decoration: underline;
		text-underline-offset: 2px;
		text-decoration-skip: auto;
	}
}
