.lightbox {
	display: flex;
	margin: auto;
	button {
		background: transparent;
		border: none;
		appearance: none;
		.dashicons {
			color: $light-primary-color;
			opacity: 0.6;
			height: 3rem;
			width: 3rem;
			font-size: 3rem;
			transition: 0.1s ease-in-out;
		}
		&:hover {
			cursor: pointer;
			.dashicons {
				opacity: 1;
			}
		}
		.dashicons-arrow-right-alt2 {
			position: absolute;
			right: 3rem;
		}
		.dashicons-arrow-left-alt2 {
			position: absolute;
			left: 3rem;
		}
		&.close {
			position: absolute;
			top: 1rem;
			right: 1rem;
		}
	}
	img {
		display: block;
		max-height: 70vh;
		max-width: 80vw;
		height: auto;
		width: auto;
		object-fit: contain;
	}
	.image-count {
		color: $light-primary-color;
		position: absolute;
		margin: auto;
		justify-content: center;
		bottom: 1rem;
	}
}
