.post-categories {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	li {
		a {
			margin: 5px;
			text-decoration: none;
			padding: 5px 10px;
			background-color: $light-primary-color;
			&:hover {
				background-color: scale-color($light-primary-color, $lightness: +10%);
			}
			@media (prefers-color-scheme: "dark") {
				background-color: $dark-primary-color;
				&:hover {
					background-color: scale-color($dark-primary-color, $lightness: -10%);
				}
			}
			border-radius: 6px;
		}
		&:first-of-type {
			a {
				margin-left: 0;
			}
		}
	}
}
