.wp-block-quote {
	margin: $standard-spacing auto !important;
	&.alignwide,
	&.alignfull {
		margin: $medium-spacing auto !important;
	}
	padding: $standard-spacing $medium-spacing !important;
	background: $light-primary-color;
	border-color: $dark-primary-color;
	p {
		font-style: italic;
	}
	cite {
		font-size: 1rem;
		&::before {
			content: "-- ";
		}
	}
	@media (prefers-color-scheme: "dark") {
		background: $dark-primary-color;
		border-color: $light-primary-color;
	}
}
