.wp-block-image {
	@include standard-width();
	&.alignfull {
		@include full-width();
		margin: $large-spacing auto;
	}
	img {
		height: auto;
		display: block;
		transition: 0.2s ease-in-out;
		@media (prefers-color-scheme: "dark") {
			filter: brightness(80%);
			&:hover,
			&:focus {
				filter: brightness(100%);
			}
		}
	}
}
