.wp-block-latest-posts {
	list-style: none;
	padding: 0;
	&.is-grid {
		li {
			padding: $standard-spacing;
			background-color: $light-primary-color;
			&:hover {
				background-color: scale-color($light-primary-color, $lightness: +10%);
			}
			@media (prefers-color-scheme: "dark") {
				background-color: $dark-primary-color;
				&:hover {
					background-color: scale-color($dark-primary-color, $lightness: +10%);
				}
			}
		}
	}
}
