.wp-block-quote {
	margin: $standard-spacing auto;
	&.alignwide,
	&.alignfull {
		margin: $medium-spacing auto;
	}
	padding: $standard-spacing $medium-spacing;
	background: $light-color;
	border-color: $dark-color;
	p:first-child {
		font-style: italic;
	}
	@media (prefers-color-scheme: "dark") {
		background: $dark-color;
		border-color: $light-color;
	}
}
