.wp-block-table {
	& table {
		border-collapse: collapse;
	}
	&.is-style-stripes {
		border-bottom: none;
		& tbody {
			& td {
				border: none;
			}
			& tr:nth-child(odd) {
				background-color: var(--light-primary-color);
				@media (prefers-color-scheme: dark) {
					background-color: var(--dark-primary-color);
				}
			}
		}
	}
}
