$font-family: "source-serif-pro", serif;
$font-family-sans: "source-sans-pro", sans-serif;
$font-family-code: "source-code-pro", monospace;

$primary-color: #fbbf3e;
$light-color: #eeeeee;
$dark-color: #424242;
