:root {
	--font-family: "source-serif-pro", serif;
	--font-family-sans: "source-sans-pro", sans-serif;
	--font-family-code: "source-code-pro", monospace;

	--primary-color: #779da6;
	--light-color: #f8f8f8;
	--dark-color: #404040;

	--light-primary-color: #ebf0f2;
	--dark-primary-color: #454949;

	--link-color: #4f7179;

	--standard-spacing: 1rem;
	--medium-spacing: 2rem;
	--large-spacing: 3rem;
	--huge-spacing: 5rem;

	@media (prefers-color-scheme: dark) {
		--link-color: #a0bac1;
	}
}
