p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
	& code {
		display: inline-block;
		word-break: keep-all;
		background-color: var(--wp--preset--color--light-primary);
		padding: 0em 0.25em;
		border-radius: 6px;
	}
}

code {
	font-family: var(--wp--preset--font-family--code);
	word-wrap: break-word;
	overflow-wrap: anywhere;
}
