.site-content {
    margin-top: 0 !important;

    & > *:first-child {
        margin-top: calc(var(--wp--style--block-gap) * 4);

        &.alignfull {
            margin-top: 0;
        }
    }

    & > *:last-child {
        margin-bottom: calc(var(--wp--style--block-gap) * 4);

        &.alignfull {
            margin-bottom: 0;
        }
    }
}