.site-header {
	padding: $standard-spacing;
	background-color: $light-primary-color;
	@media (prefers-color-scheme: "dark") {
		background-color: $dark-primary-color;
	}
	@include inflate-margins();
	text-align: center;
}
