.site-footer {
	padding: $standard-spacing;
	text-align: center;
	background-color: $light-primary-color;
	z-index: 50;
	ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media (min-width: 600px) {
			flex-direction: row;
		}
		a {
			color: $dark-primary-color;
			@media (prefers-color-scheme: "dark") {
				color: $light-primary-color;
			}
			&:hover {
				color: scale-color($dark-primary-color, $lightness: +30%);
				@media (prefers-color-scheme: "dark") {
					color: scale-color($light-primary-color, $lightness: -20%);
				}
			}
		}
	}
	p {
		color: scale-color($light-primary-color, $lightness: +30%);
		a {
			color: scale-color($light-primary-color, $lightness: -30%);
		}
	}
	@media (prefers-color-scheme: "dark") {
		background-color: scale-color($dark-primary-color, $lightness: -30%);
	}
}
