.site-content {
	> * {
		@include standard-width();
	}
	> .alignwide {
		@include extended-width();
	}
	> .alignfull {
		@include full-width();
	}
	> .alignleft {
		float: left;
	}
	> .alignleft {
		float: right;
	}

	> :first-child {
		margin-top: $large-spacing;
		&.alignfull {
			margin-top: 0 !important;
		}
	}

	> :last-child {
		margin-bottom: $large-spacing;
		&.alignfull {
			margin-bottom: 0 !important;
		}
	}

	.alignleft,
	.alignright {
		width: 50%;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	.alignleft {
		@media (min-width: 600px) {
			margin-left: -1rem !important;
		}
		figcaption {
			clear: left;
		}
	}

	.alignright {
		@media (min-width: 600px) {
			margin-right: -1rem !important;
		}
		figcaption {
			clear: right;
		}
	}

	.alignleft img,
	.alignleft figcaption {
		float: left;
		margin-right: 1.5em;
	}

	.alignright img,
	.alignright figcaption {
		float: right;
		margin-left: 1.5em;
	}

	.aligncenter {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
