.site-footer {
	padding: var(--standard-spacing);
	text-align: center;
	background-color: var(--light-primary-color);
	z-index: 50;
	& ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media (min-width: 600px) {
			flex-direction: row;
		}
		& a {
			color: var(--dark-primary-color);
			@media (prefers-color-scheme: dark) {
				color: var(--light-primary-color);
			}
			&:hover {
				color: #7a8182;
				@media (prefers-color-scheme: dark) {
					color: #b1c7cc;
				}
			}
		}
	}
	& p {
		color: #f1f5f6;
		& a {
			color: #f1f5f6;
		}
	}
	@media (prefers-color-scheme: dark) {
		background-color: #303333;
	}
}
