input,
input[type="text"],
[type="email"] {
	display: block;
}

textarea {
	display: block;
	width: 100%;
	max-width: 100%;
	margin: 0;
}

input,
textarea {
	padding: 10px;
	border-radius: 6px;
	color: var(--dark-primary-color);
	border: 1px solid var(--light-primary-color);
	background-color: var(--light-primary-color);
	@media (prefers-color-scheme: dark) {
		color: var(--light-primary-color);
		border: 1px solid var(--dark-primary-color);
		background-color: var(--dark-primary-color);
	}
	&:focus {
		outline: none;
		border: 1px solid var(--primary-color);
		box-shadow: 0 0 5px var(--primary-color);
	}
}

[type="checkbox"] {
	display: inline;
	padding: 0.5em;
	margin-right: 0.5em;
}

.required {
	color: var(--complementray-color);
}
