.post-categories {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin-bottom: 0.5rem;
	& li {
		& a {
			display: inline-block;
			margin-bottom: 10px;
			margin-right: 10px;
			text-decoration: none;
			padding: 5px 10px;
			background-color: var(--light-primary-color);
			&:hover {
				background-color: #edf2f3;
			}
			@media (prefers-color-scheme: dark) {
				background-color: var(--dark-primary-color);
				&:hover {
					background-color: #3e4142;
				}
			}
			border-radius: 6px;
		}
		&:last-of-type {
			& a {
				margin-right: 0;
			}
		}
	}
}
