* {
	box-sizing: border-box;
}

:root {
	font-family: $font-family;
	font-size: 18px;
	line-height: 1.5;
	color: $dark-color;
	@media (prefers-color-scheme: "dark") {
		background: scale-color($dark-primary-color, $lightness: -40%);
		color: $light-color;
	}
}
