@mixin standard-width {
	margin: 1rem auto;
	max-width: 90%;
	@media (min-width: 600px) {
		width: 70%;
	}
	@media (min-width: 1000px) {
		max-width: 700px;
		width: 50%;
	}
}

@mixin extended-width {
	margin: 2rem auto;
	max-width: 95%;
	@media (min-width: 600px) {
		width: 80%;
	}
	@media (min-width: 1000px) {
		width: 60%;
		max-width: 800px;
	}
}

@mixin full-width {
	margin: 3rem 0;
	width: 100%;
	max-width: 100%;
}

@mixin inflate-margins {
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&:only-child {
		margin-top: 0;
		margin-bottom: 0;
	}
}
